fastapi==0.115.12
uvicorn
python-dotenv==1.0.0
openai==1.69.0
pydantic
python-multipart
openai-agents
mcp==1.6.0
itsdangerous
celery
redis
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
alembic
email-validator
mem0ai
mcp
requests